@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: #f4f4f4;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   margin: 0;
}
h1 {
   font-family: 'Crafty Girls', sans-serif;
   font-size: 3rem;
}
canvas {
   border: 9px outset rgb(0, 0, 0);
}
.toolbox {
   position: absolute;
   left: 150px;
   top: 206px;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   flex-direction: column;
   height: 817px;
   padding: 1rem;
}
.toolbox > * {
   border-radius: 5px;
   background-color: #fff;
   border: none;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   height: 50px;
   width: 50px;
   margin: .5rem;
   padding: .25rem;
   cursor: pointer;
}
#color {
   margin-top: auto;
}
.toolbox > *:last-child {
   margin-top: auto;
}